# API
fastapi
uvicorn
gunicorn
python-dotenv
requests
email-validator

psycopg[binary]
supabase

livekit-agents[google]~=1.6
livekit-api
livekit-plugins-assemblyai~=1.6
google-genai

qdrant-client
numpy

faiss-cpu
rank_bm25
